In [1]:
import pandas as pd
import numpy as np

In [2]:
players = pd.read_csv('./data/players.csv')
pl = pd.read_csv('./data/players.csv')
matches = pd.read_csv('./data/matches.csv')
deliveries = pd.read_csv('./data/deliveries.csv')
pd.set_option('display.max_columns', None)
players.shape, matches.shape, deliveries.shape

((605, 16), (1095, 20), (260920, 17))

In [3]:
players.head(3)

,player,runs,boundaries,balls_faced,wickets,balls_bowled,runs_conceded,matches,batting_avg,batting_strike_rate,boundaries_percent,bowling_economy,bowling_avg,bowling_strike_rate,catches,stumpings
0,A Ashish Reddy,280,31,196,18.0,270.0,400.0,28,10.00,142.86,15.82,8.89,22.22,15.00,8.0,0.0
1,A Badoni,161,18,139,2.0,12.0,12.0,11,14.64,115.83,12.95,6.00,6.00,6.00,8.0,0.0
2,A Chandila,4,0,7,11.0,234.0,245.0,12,0.33,57.14,0.00,6.28,22.27,21.27,2.0,0.0

In [4]:
matches.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar

In [5]:
deliveries.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN

In [6]:
matches.isna().sum()

id                    0
season                0
city                 51
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin        19
target_runs           3
target_overs          3
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

In [7]:
matches.drop('method', axis=1, inplace=True) # rest of the nul vals are accepted, no need to drop

In [8]:
deliveries.isna().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batter                   0
bowler                   0
non_striker              0
batsman_runs             0
extra_runs               0
total_runs               0
extras_type         246795
is_wicket                0
player_dismissed    247970
dismissal_kind      247970
fielder             251566
dtype: int64

In [9]:
drop_cols = ['extras_type', 'player_dismissed', 'dismissal_kind', 'fielder']
deliveries.drop(drop_cols, axis=1, inplace=True)

### Missing vals are handled

In [10]:
players.duplicated().sum()

np.int64(0)

In [11]:
matches.duplicated().sum()

np.int64(0)

In [12]:
deliveries.duplicated().sum()

np.int64(0)

Therefore no dupliacte vals

In [13]:
players

,player,runs,boundaries,balls_faced,wickets,balls_bowled,runs_conceded,matches,batting_avg,batting_strike_rate,boundaries_percent,bowling_economy,bowling_avg,bowling_strike_rate,catches,stumpings
0,A Ashish Reddy,280,31,196,18.0,270.0,400.0,28,10.00,142.86,15.82,8.89,22.22,15.00,8.0,0.0
1,A Badoni,161,18,139,2.0,12.0,12.0,11,14.64,115.83,12.95,6.00,6.00,6.00,8.0,0.0
2,A Chandila,4,0,7,11.0,234.0,245.0,12,0.33,57.14,0.00,6.28,22.27,21.27,2.0,0.0
3,A Chopra,53,7,75,0.0,0.0,0.0,6,8.83,70.67,9.33,0.00,0.00,0.00,2.0,0.0
4,A Choudhary,25,2,20,5.0,108.0,144.0,5,5.00,125.00,10.00,8.00,28.80,21.60,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,Yash Dayal,0,0,1,11.0,205.0,296.0,9,0.00,0.00,0.00,8.66,26.91,18.64,1.0,0.0
601,Yashpal Singh,47,5,67,0.0,0.0,0.0,4,11.75,70.15,7.46,0.00,0.00,0.00,3.0,0.0
602,Younis Khan,3,0,7,0.0,0.0,0.0,1,3.00,42.86,0.00,0.00,0.00,0.00,1.0,0.0
603,Yuvraj Singh,2754,367,2207,36.0,882.0,1091.0,129,21.35,124.78,16.63,7.42,30.31,24.50,29.0,0.0
604,Z Khan,117,13,141,102.0,2276.0,2860.0,99,1.18,82.98,9.22,7.54,28.04,22.31,20.0,0.0

In [14]:
matches

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,J Madanagopal,Nitin Menon

In [15]:
matches.isna().sum()

id                  0
season              0
city               51
date                0
match_type          0
player_of_match     5
venue               0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              5
result              0
result_margin      19
target_runs         3
target_overs        3
super_over          0
umpire1             0
umpire2             0
dtype: int64

In [16]:
matches[matches['winner'].isna()]
matches[matches['result'] == 'no result']

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,umpire1,umpire2
241,501265,2011,Delhi,2011-05-21,League,NaN,Feroz Shah Kotla,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,NaN,no result,NaN,NaN,NaN,N,SS Hazare,RJ Tucker
485,829763,2015,Bangalore,2015-04-29,League,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,no result,NaN,NaN,NaN,N,JD Cloete,PG Pathak
511,829813,2015,Bangalore,2015-05-17,League,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,field,NaN,no result,NaN,188.0,20.0,N,HDPK Dharmasena,K Srinivasan
744,1178424,2019,Bengaluru,2019-04-30,League,NaN,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,no result,NaN,63.0,5.0,N,NJ Llong,UV Gandhe
994,1359519,2023,Lucknow,2023-05-03,League,NaN,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,Chennai Super Kings,Chennai Super Kings,field,NaN,no result,NaN,NaN,NaN,N,AK Chaudhary,NA Patwardhan

In [17]:
matches[matches['result_margin'].isna()]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,umpire1,umpire2
66,392190,2009,Cape Town,2009-04-23,League,YK Pathan,Newlands,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Rajasthan Royals,tie,NaN,151.0,20.0,Y,MR Benson,M Erasmus
130,419121,2009/10,Chennai,2010-03-21,League,J Theron,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,field,Kings XI Punjab,tie,NaN,137.0,20.0,Y,K Hariharan,DJ Harper
241,501265,2011,Delhi,2011-05-21,League,NaN,Feroz Shah Kotla,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,NaN,no result,NaN,NaN,NaN,N,SS Hazare,RJ Tucker
328,598004,2013,Hyderabad,2013-04-07,League,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,Sunrisers Hyderabad,tie,NaN,131.0,20.0,Y,AK Chaudhary,S Ravi
342,598017,2013,Bangalore,2013-04-16,League,V Kohli,M Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,field,Royal Challengers Bangalore,tie,NaN,153.0,20.0,Y,M Erasmus,VA Kulkarni
416,729315,2014,Abu Dhabi,2014-04-29,League,JP Faulkner,Sheikh Zayed Stadium,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,bat,Rajasthan Royals,tie,NaN,153.0,20.0,Y,Aleem Dar,AK Chaudhary
475,829741,2015,Ahmedabad,2015-04-21,League,SE Marsh,"Sardar Patel Stadium, Motera",Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,tie,NaN,192.0,20.0,Y,M Erasmus,S Ravi
485,829763,2015,Bangalore,2015-04-29,League,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,no result,NaN,NaN,NaN,N,JD Cloete,PG Pathak
511,829813,2015,Bangalore,2015-05-17,League,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,field,NaN,no result,NaN,188.0,20.0,N,HDPK Dharmasena,K Srinivasan
610,1082625,2017,Rajkot,2017-04-29,League,KH Pandya,Saurashtra Cricket Association Stadium,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,Mumbai Indians,tie,NaN,154.0,20.0,Y,AK Chaudhary,CB Gaffaney
705,1175365,2019,Delhi,2019-03-30,League,PP Shaw,Arun Jaitley Stadium,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,tie,NaN,186.0,20.0,Y,AY Dandekar,Nitin Menon
744,1178424,2019,Bengaluru,2019-04-30,League,NaN,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,no result,NaN,63.0,5.0,N,NJ Llong,UV Gandhe
746,1178426,2019,Mumbai,2019-05-02,League,JJ Bumrah,Wankhede Stadium,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Mumbai Indians,tie,NaN,163.0,20.0,Y,CK Nandan,S Ravi
757,1216493,2020/21,NaN,2020-09-20,League,MP Stoinis,Dubai International Cricket Stadium,Delhi Capitals,Kings XI Punjab,Kings XI Punjab,field,Delhi Capitals,tie,NaN,158.0,20.0,Y,AK Chaudhary,Nitin Menon
765,1216547,2020/21,NaN,2020-09-28,League,AB de Villiers,Dubai International Cricket Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,202.0,20.0,Y,Nitin Menon,PR Reiffel
790,1216512,2020/21,Abu Dhabi,2020-10-18,League,LH Ferguson,Sheikh Zayed Stadium,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Kolkata Knight Riders,tie,NaN,164.0,20.0,Y,PG Pathak,S Ravi
791,1216517,2020/21,NaN,2020-10-18,League,KL Rahul,Dubai International Cricket Stadium,Mumbai Indians,Kings XI Punjab,Mumbai Indians,bat,Kings XI Punjab,tie,NaN,177.0,20.0,Y,Nitin Menon,PR Reiffel
835,1254077,2021,Chennai,2021-04-25,League,PP Shaw,"MA Chidambaram Stadium, Chepauk, Chennai",Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,tie,NaN,160.0,20.0,Y,CB Gaffaney,KN Ananthapadmanabhan
994,1359519,2023,Lucknow,2023-05-03,League,NaN,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,Chennai Super Kings,Chennai Super Kings,field,NaN,no result,NaN,NaN,NaN,N,AK Chaudhary,NA Patwardhan

In [18]:
# No need to replace PoM with NaN, replace NaN in result_winner with 0
matches['result_margin'].fillna(0, inplace=True)
matches['result_margin'].isna().sum()

/tmp/ipykernel_47650/2128916670.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  matches['result_margin'].fillna(0, inplace=True)

np.int64(0)

In [19]:
deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,is_wicket
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,0
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,0
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,0
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,0
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,0
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,0
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,0
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0

In [20]:
deliveries.isna().sum()

match_id        0
inning          0
batting_team    0
bowling_team    0
over            0
ball            0
batter          0
bowler          0
non_striker     0
batsman_runs    0
extra_runs      0
total_runs      0
is_wicket       0
dtype: int64

In [21]:
mat_id = deliveries.match_id.unique()
rep_id = np.arange(1, 1096, 1)
# Create a mapping dictionary from list_1 to list_2
mapping_dict = dict(zip(mat_id, rep_id))
# Replace across multiple columns
deliveries.replace(mapping_dict, inplace=True)
matches.replace(mapping_dict, inplace=True)
matches

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,umpire1,umpire2
0,1,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,Asad Rauf,RE Koertzen
1,2,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,MR Benson,SL Shastri
2,3,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,Aleem Dar,GA Pratapkumar
3,4,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,SJ Davis,DJ Harper
4,5,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1091,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,Nitin Menon,VK Sharma
1091,1092,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,AK Chaudhary,R Pandit
1092,1093,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1094,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,Nitin Menon,VK Sharma
1094,1095,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,J Madanagopal,Nitin Menon

In [22]:
for col in players.columns:
    if players[col].dtype == object:
        display(players[col].value_counts())
        print('============================================')

player
A Ashish Reddy    1
A Badoni          1
A Chandila        1
A Chopra          1
A Choudhary       1
                 ..
Yash Dayal        1
Yashpal Singh     1
Younis Khan       1
Yuvraj Singh      1
Z Khan            1
Name: count, Length: 605, dtype: int64

============================================

In [23]:
for col in matches.columns:
    if matches[col].dtype == object:
        display(matches[col].value_counts())
        print('============================================')

season
2013       76
2022       74
2012       74
2023       74
2011       73
2024       71
2019       60
2016       60
2009/10    60
2021       60
2020/21    60
2014       60
2018       60
2017       59
2015       59
2007/08    58
2009       57
Name: count, dtype: int64

============================================

city
Mumbai            173
Kolkata            93
Delhi              90
Chennai            85
Hyderabad          77
Bangalore          65
Chandigarh         61
Jaipur             57
Pune               51
Abu Dhabi          37
Ahmedabad          36
Bengaluru          29
Visakhapatnam      15
Durban             15
Lucknow            14
Dubai              13
Dharamsala         13
Centurion          12
Rajkot             10
Sharjah            10
Navi Mumbai         9
Indore              9
Johannesburg        8
Ranchi              7
Cuttack             7
Cape Town           7
Port Elizabeth      7
Raipur              6
Kochi               5
Mohali              5
Kanpur              4
East London         3
Kimberley           3
Nagpur              3
Guwahati            3
Bloemfontein        2
Name: count, dtype: int64

============================================

date
2008-04-26    2
2008-04-27    2
2024-05-12    2
2024-04-07    2
2008-05-17    2
             ..
2024-05-10    1
2024-04-25    1
2024-04-26    1
2024-04-29    1
2024-04-30    1
Name: count, Length: 823, dtype: int64

============================================

match_type
League                1029
Final                   17
Qualifier 2             14
Qualifier 1             14
Eliminator              11
Semi Final               6
Elimination Final        3
3rd Place Play-Off       1
Name: count, dtype: int64

============================================

player_of_match
AB de Villiers    25
CH Gayle          22
RG Sharma         19
V Kohli           18
DA Warner         18
                  ..
R Shepherd         1
Akash Madhwal      1
Shashank Singh     1
WD Parnell         1
RR Rossouw         1
Name: count, Length: 291, dtype: int64

============================================

venue
Eden Gardens                                                             77
Wankhede Stadium                                                         73
M Chinnaswamy Stadium                                                    65
Feroz Shah Kotla                                                         60
Rajiv Gandhi International Stadium, Uppal                                49
MA Chidambaram Stadium, Chepauk                                          48
Sawai Mansingh Stadium                                                   47
Dubai International Cricket Stadium                                      46
Wankhede Stadium, Mumbai                                                 45
Punjab Cricket Association Stadium, Mohali                               35
Sheikh Zayed Stadium                                                     29
Sharjah Cricket Stadium                                                  28
MA Chidambaram Stadium, Chepauk, Chennai                                 28
Narendra Modi Stadium, Ahmedabad                                         24
Maharashtra Cricket Association Stadium                                  22
Dr DY Patil Sports Academy, Mumbai                                       20
Dr DY Patil Sports Academy                                               17
Brabourne Stadium, Mumbai                                                17
Subrata Roy Sahara Stadium                                               16
Eden Gardens, Kolkata                                                    16
Arun Jaitley Stadium, Delhi                                              16
Kingsmead                                                                15
M.Chinnaswamy Stadium                                                    15
Rajiv Gandhi International Stadium                                       15
Arun Jaitley Stadium                                                     14
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow    14
M Chinnaswamy Stadium, Bengaluru                                         14
Rajiv Gandhi International Stadium, Uppal, Hyderabad                     13
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium                      13
Maharashtra Cricket Association Stadium, Pune                            13
SuperSport Park                                                          12
Sardar Patel Stadium, Motera                                             12
Punjab Cricket Association IS Bindra Stadium, Mohali                     11
Sawai Mansingh Stadium, Jaipur                                           10
Punjab Cricket Association IS Bindra Stadium                             10
Saurashtra Cricket Association Stadium                                   10
Brabourne Stadium                                                        10
Himachal Pradesh Cricket Association Stadium                              9
MA Chidambaram Stadium                                                    9
Holkar Cricket Stadium                                                    9
New Wanderers Stadium                                                     8
Zayed Cricket Stadium, Abu Dhabi                                          8
JSCA International Stadium Complex                                        7
St George's Park                                                          7
Barabati Stadium                                                          7
Newlands                                                                  7
Shaheed Veer Narayan Singh International Stadium                          6
Nehru Stadium                                                             5
Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur        5
Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh          5
Green Park                                                                4
Himachal Pradesh Cricket Association Stadium, Dharamsala                  4
De Beers Diamond Oval                                                     3
Buffalo Park                                                              3
Barsapara Cricket Stadium, Guwahati                                       3
Vidarbha Cricket Association Stadium, Jamtha                              3
OUTsurance Oval                                                           2
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam        2
Name: count, dtype: int64

============================================

team1
Royal Challengers Bangalore    135
Chennai Super Kings            128
Mumbai Indians                 123
Kolkata Knight Riders          121
Rajasthan Royals               101
Kings XI Punjab                 92
Sunrisers Hyderabad             86
Delhi Daredevils                85
Delhi Capitals                  41
Deccan Chargers                 39
Punjab Kings                    31
Lucknow Super Giants            23
Pune Warriors                   23
Gujarat Titans                  21
Gujarat Lions                   16
Royal Challengers Bengaluru      9
Kochi Tuskers Kerala             7
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Name: count, dtype: int64

============================================

team2
Mumbai Indians                 138
Kolkata Knight Riders          130
Rajasthan Royals               120
Chennai Super Kings            110
Royal Challengers Bangalore    105
Kings XI Punjab                 98
Sunrisers Hyderabad             96
Delhi Daredevils                76
Delhi Capitals                  50
Deccan Chargers                 36
Punjab Kings                    25
Gujarat Titans                  24
Pune Warriors                   23
Lucknow Super Giants            21
Gujarat Lions                   14
Rising Pune Supergiant           9
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Royal Challengers Bengaluru      6
Name: count, dtype: int64

============================================

toss_winner
Mumbai Indians                 143
Kolkata Knight Riders          122
Chennai Super Kings            122
Rajasthan Royals               120
Royal Challengers Bangalore    113
Sunrisers Hyderabad             88
Kings XI Punjab                 85
Delhi Daredevils                80
Delhi Capitals                  50
Deccan Chargers                 43
Punjab Kings                    24
Gujarat Titans                  22
Pune Warriors                   20
Lucknow Super Giants            19
Gujarat Lions                   15
Kochi Tuskers Kerala             8
Royal Challengers Bengaluru      8
Rising Pune Supergiants          7
Rising Pune Supergiant           6
Name: count, dtype: int64

============================================

toss_decision
field    704
bat      391
Name: count, dtype: int64

============================================

winner
Mumbai Indians                 144
Chennai Super Kings            138
Kolkata Knight Riders          131
Royal Challengers Bangalore    116
Rajasthan Royals               112
Sunrisers Hyderabad             88
Kings XI Punjab                 88
Delhi Daredevils                67
Delhi Capitals                  48
Deccan Chargers                 29
Gujarat Titans                  28
Punjab Kings                    24
Lucknow Super Giants            24
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Royal Challengers Bengaluru      7
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: count, dtype: int64

============================================

result
wickets      578
runs         498
tie           14
no result      5
Name: count, dtype: int64

============================================

super_over
N    1081
Y      14
Name: count, dtype: int64

============================================

umpire1
AK Chaudhary             115
HDPK Dharmasena           79
KN Ananthapadmanabhan     59
CB Gaffaney               53
Asad Rauf                 51
                        ...
K Srinivasan               2
Tapan Sharma               2
AG Wharf                   2
SL Shastri                 1
SJA Taufel                 1
Name: count, Length: 62, dtype: int64

============================================

umpire2
S Ravi           83
VK Sharma        61
C Shamshuddin    60
Nitin Menon      54
SJA Taufel       54
                 ..
SJ Davis          1
JD Cloete         1
BF Bowden         1
SD Fry            1
Subroto Das       1
Name: count, Length: 62, dtype: int64

============================================

In [24]:
formatter = {'2007/08':'2008','2009/10':'2010','2020/21':'2020'}
matches['season'] = matches['season'].replace(formatter)
format_cols = ['team1', 'team2', 'winner', 'toss_winner']
formatter = {'Royal Challengers Bengaluru':'Royal Challengers Bangalore','Rising Pune Supergiant':'Rising Pune Supergiants','Delhi Daredevils':'Delhi Capitals', 'Kings XI Punjab':'Punjab Kings'}
matches[format_cols] = matches[format_cols].replace(formatter)

In [25]:
for col in matches.columns:
    if matches[col].dtype == object:
        display(matches[col].value_counts())
        print('============================================')

season
2013    76
2022    74
2012    74
2023    74
2011    73
2024    71
2019    60
2016    60
2010    60
2021    60
2020    60
2014    60
2018    60
2017    59
2015    59
2008    58
2009    57
Name: count, dtype: int64

============================================

city
Mumbai            173
Kolkata            93
Delhi              90
Chennai            85
Hyderabad          77
Bangalore          65
Chandigarh         61
Jaipur             57
Pune               51
Abu Dhabi          37
Ahmedabad          36
Bengaluru          29
Visakhapatnam      15
Durban             15
Lucknow            14
Dubai              13
Dharamsala         13
Centurion          12
Rajkot             10
Sharjah            10
Navi Mumbai         9
Indore              9
Johannesburg        8
Ranchi              7
Cuttack             7
Cape Town           7
Port Elizabeth      7
Raipur              6
Kochi               5
Mohali              5
Kanpur              4
East London         3
Kimberley           3
Nagpur              3
Guwahati            3
Bloemfontein        2
Name: count, dtype: int64

============================================

date
2008-04-26    2
2008-04-27    2
2024-05-12    2
2024-04-07    2
2008-05-17    2
             ..
2024-05-10    1
2024-04-25    1
2024-04-26    1
2024-04-29    1
2024-04-30    1
Name: count, Length: 823, dtype: int64

============================================

match_type
League                1029
Final                   17
Qualifier 2             14
Qualifier 1             14
Eliminator              11
Semi Final               6
Elimination Final        3
3rd Place Play-Off       1
Name: count, dtype: int64

============================================

player_of_match
AB de Villiers    25
CH Gayle          22
RG Sharma         19
V Kohli           18
DA Warner         18
                  ..
R Shepherd         1
Akash Madhwal      1
Shashank Singh     1
WD Parnell         1
RR Rossouw         1
Name: count, Length: 291, dtype: int64

============================================

venue
Eden Gardens                                                             77
Wankhede Stadium                                                         73
M Chinnaswamy Stadium                                                    65
Feroz Shah Kotla                                                         60
Rajiv Gandhi International Stadium, Uppal                                49
MA Chidambaram Stadium, Chepauk                                          48
Sawai Mansingh Stadium                                                   47
Dubai International Cricket Stadium                                      46
Wankhede Stadium, Mumbai                                                 45
Punjab Cricket Association Stadium, Mohali                               35
Sheikh Zayed Stadium                                                     29
Sharjah Cricket Stadium                                                  28
MA Chidambaram Stadium, Chepauk, Chennai                                 28
Narendra Modi Stadium, Ahmedabad                                         24
Maharashtra Cricket Association Stadium                                  22
Dr DY Patil Sports Academy, Mumbai                                       20
Dr DY Patil Sports Academy                                               17
Brabourne Stadium, Mumbai                                                17
Subrata Roy Sahara Stadium                                               16
Eden Gardens, Kolkata                                                    16
Arun Jaitley Stadium, Delhi                                              16
Kingsmead                                                                15
M.Chinnaswamy Stadium                                                    15
Rajiv Gandhi International Stadium                                       15
Arun Jaitley Stadium                                                     14
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow    14
M Chinnaswamy Stadium, Bengaluru                                         14
Rajiv Gandhi International Stadium, Uppal, Hyderabad                     13
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium                      13
Maharashtra Cricket Association Stadium, Pune                            13
SuperSport Park                                                          12
Sardar Patel Stadium, Motera                                             12
Punjab Cricket Association IS Bindra Stadium, Mohali                     11
Sawai Mansingh Stadium, Jaipur                                           10
Punjab Cricket Association IS Bindra Stadium                             10
Saurashtra Cricket Association Stadium                                   10
Brabourne Stadium                                                        10
Himachal Pradesh Cricket Association Stadium                              9
MA Chidambaram Stadium                                                    9
Holkar Cricket Stadium                                                    9
New Wanderers Stadium                                                     8
Zayed Cricket Stadium, Abu Dhabi                                          8
JSCA International Stadium Complex                                        7
St George's Park                                                          7
Barabati Stadium                                                          7
Newlands                                                                  7
Shaheed Veer Narayan Singh International Stadium                          6
Nehru Stadium                                                             5
Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur        5
Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh          5
Green Park                                                                4
Himachal Pradesh Cricket Association Stadium, Dharamsala                  4
De Beers Diamond Oval                                                     3
Buffalo Park                                                              3
Barsapara Cricket Stadium, Guwahati                                       3
Vidarbha Cricket Association Stadium, Jamtha                              3
OUTsurance Oval                                                           2
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam        2
Name: count, dtype: int64

============================================

team1
Royal Challengers Bangalore    144
Chennai Super Kings            128
Delhi Capitals                 126
Mumbai Indians                 123
Punjab Kings                   123
Kolkata Knight Riders          121
Rajasthan Royals               101
Sunrisers Hyderabad             86
Deccan Chargers                 39
Pune Warriors                   23
Lucknow Super Giants            23
Gujarat Titans                  21
Gujarat Lions                   16
Rising Pune Supergiants         14
Kochi Tuskers Kerala             7
Name: count, dtype: int64

============================================

team2
Mumbai Indians                 138
Kolkata Knight Riders          130
Delhi Capitals                 126
Punjab Kings                   123
Rajasthan Royals               120
Royal Challengers Bangalore    111
Chennai Super Kings            110
Sunrisers Hyderabad             96
Deccan Chargers                 36
Gujarat Titans                  24
Pune Warriors                   23
Lucknow Super Giants            21
Rising Pune Supergiants         16
Gujarat Lions                   14
Kochi Tuskers Kerala             7
Name: count, dtype: int64

============================================

toss_winner
Mumbai Indians                 143
Delhi Capitals                 130
Kolkata Knight Riders          122
Chennai Super Kings            122
Royal Challengers Bangalore    121
Rajasthan Royals               120
Punjab Kings                   109
Sunrisers Hyderabad             88
Deccan Chargers                 43
Gujarat Titans                  22
Pune Warriors                   20
Lucknow Super Giants            19
Gujarat Lions                   15
Rising Pune Supergiants         13
Kochi Tuskers Kerala             8
Name: count, dtype: int64

============================================

toss_decision
field    704
bat      391
Name: count, dtype: int64

============================================

winner
Mumbai Indians                 144
Chennai Super Kings            138
Kolkata Knight Riders          131
Royal Challengers Bangalore    123
Delhi Capitals                 115
Punjab Kings                   112
Rajasthan Royals               112
Sunrisers Hyderabad             88
Deccan Chargers                 29
Gujarat Titans                  28
Lucknow Super Giants            24
Rising Pune Supergiants         15
Gujarat Lions                   13
Pune Warriors                   12
Kochi Tuskers Kerala             6
Name: count, dtype: int64

============================================

result
wickets      578
runs         498
tie           14
no result      5
Name: count, dtype: int64

============================================

super_over
N    1081
Y      14
Name: count, dtype: int64

============================================

umpire1
AK Chaudhary             115
HDPK Dharmasena           79
KN Ananthapadmanabhan     59
CB Gaffaney               53
Asad Rauf                 51
                        ...
K Srinivasan               2
Tapan Sharma               2
AG Wharf                   2
SL Shastri                 1
SJA Taufel                 1
Name: count, Length: 62, dtype: int64

============================================

umpire2
S Ravi           83
VK Sharma        61
C Shamshuddin    60
Nitin Menon      54
SJA Taufel       54
                 ..
SJ Davis          1
JD Cloete         1
BF Bowden         1
SD Fry            1
Subroto Das       1
Name: count, Length: 62, dtype: int64

============================================

In [26]:
for col in deliveries.columns:
    if deliveries[col].dtype == object:
        display(deliveries[col].value_counts())
        print('============================================')

batting_team
Mumbai Indians                 31437
Kolkata Knight Riders          29514
Chennai Super Kings            28651
Royal Challengers Bangalore    28205
Rajasthan Royals               26242
Kings XI Punjab                22646
Sunrisers Hyderabad            21843
Delhi Daredevils               18786
Delhi Capitals                 10946
Deccan Chargers                 9034
Punjab Kings                    6833
Gujarat Titans                  5494
Pune Warriors                   5443
Lucknow Super Giants            5400
Gujarat Lions                   3566
Rising Pune Supergiant          1900
Royal Challengers Bengaluru     1818
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: count, dtype: int64

============================================

bowling_team
Mumbai Indians                 31505
Kolkata Knight Riders          29663
Chennai Super Kings            28576
Royal Challengers Bangalore    28358
Rajasthan Royals               26432
Kings XI Punjab                22483
Sunrisers Hyderabad            21717
Delhi Daredevils               18725
Delhi Capitals                 11216
Deccan Chargers                 9039
Punjab Kings                    6719
Pune Warriors                   5457
Gujarat Titans                  5301
Lucknow Super Giants            5226
Gujarat Lions                   3545
Rising Pune Supergiant          1928
Royal Challengers Bengaluru     1801
Rising Pune Supergiants         1615
Kochi Tuskers Kerala            1614
Name: count, dtype: int64

============================================

batter
V Kohli          6236
S Dhawan         5483
RG Sharma        5183
DA Warner        4849
SK Raina         4177
                 ...
U Kaul              1
NJ Rimmington       1
Yash Dayal          1
SZ Mulani           1
Mayank Dagar        1
Name: count, Length: 673, dtype: int64

============================================

bowler
R Ashwin         4679
SP Narine        4146
B Kumar          4060
RA Jadeja        3895
PP Chawla        3895
                 ...
SN Khan             2
SPD Smith           2
AC Gilchrist        1
YBK Jaiswal         1
Atharva Taide       1
Name: count, Length: 530, dtype: int64

============================================

non_striker
V Kohli            6067
S Dhawan           5942
RG Sharma          5271
DA Warner          4677
SK Raina           4309
                   ...
S Randiv              1
M Theekshana          1
BW Hilfenhaus         1
KA Maharaj            1
Arshad Khan (2)       1
Name: count, Length: 663, dtype: int64

============================================

In [27]:
format_cols = ['batting_team', 'bowling_team']
formatter = {'Royal Challengers Bengaluru':'Royal Challengers Bangalore','Rising Pune Supergiant':'Rising Pune Supergiants','Delhi Daredevils':'Delhi Capitals', 'Kings XI Punjab':'Punjab Kings'}
deliveries[format_cols] = deliveries[format_cols].replace(formatter)

In [28]:
for col in deliveries.columns:
    if deliveries[col].dtype == object:
        display(deliveries[col].value_counts())
        print('============================================')

batting_team
Mumbai Indians                 31437
Royal Challengers Bangalore    30023
Delhi Capitals                 29732
Kolkata Knight Riders          29514
Punjab Kings                   29479
Chennai Super Kings            28651
Rajasthan Royals               26242
Sunrisers Hyderabad            21843
Deccan Chargers                 9034
Gujarat Titans                  5494
Pune Warriors                   5443
Lucknow Super Giants            5400
Gujarat Lions                   3566
Rising Pune Supergiants         3480
Kochi Tuskers Kerala            1582
Name: count, dtype: int64

============================================

bowling_team
Mumbai Indians                 31505
Royal Challengers Bangalore    30159
Delhi Capitals                 29941
Kolkata Knight Riders          29663
Punjab Kings                   29202
Chennai Super Kings            28576
Rajasthan Royals               26432
Sunrisers Hyderabad            21717
Deccan Chargers                 9039
Pune Warriors                   5457
Gujarat Titans                  5301
Lucknow Super Giants            5226
Gujarat Lions                   3545
Rising Pune Supergiants         3543
Kochi Tuskers Kerala            1614
Name: count, dtype: int64

============================================

batter
V Kohli          6236
S Dhawan         5483
RG Sharma        5183
DA Warner        4849
SK Raina         4177
                 ...
U Kaul              1
NJ Rimmington       1
Yash Dayal          1
SZ Mulani           1
Mayank Dagar        1
Name: count, Length: 673, dtype: int64

============================================

bowler
R Ashwin         4679
SP Narine        4146
B Kumar          4060
RA Jadeja        3895
PP Chawla        3895
                 ...
SN Khan             2
SPD Smith           2
AC Gilchrist        1
YBK Jaiswal         1
Atharva Taide       1
Name: count, Length: 530, dtype: int64

============================================

non_striker
V Kohli            6067
S Dhawan           5942
RG Sharma          5271
DA Warner          4677
SK Raina           4309
                   ...
S Randiv              1
M Theekshana          1
BW Hilfenhaus         1
KA Maharaj            1
Arshad Khan (2)       1
Name: count, Length: 663, dtype: int64

============================================

In [29]:
players.describe()

,runs,boundaries,balls_faced,wickets,balls_bowled,runs_conceded,matches,batting_avg,batting_strike_rate,boundaries_percent,bowling_economy,bowling_avg,bowling_strike_rate,catches,stumpings
count,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000
mean,464.428099,59.778512,373.477686,16.532231,368.801653,482.558678,32.869421,10.180380,100.663719,11.804579,6.059554,28666.014132,17288.203074,11.257851,0.535537
std,985.272855,129.559738,764.432561,30.365560,650.764782,823.838933,42.215050,9.525055,39.956245,8.375952,4.448823,115955.201006,73932.543578,18.529008,3.117587
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.000000,1.000000,18.000000,0.000000,0.000000,0.000000,6.000000,1.500000,78.750000,7.140000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,73.000000,8.000000,73.000000,3.000000,88.000000,125.000000,14.000000,7.630000,107.270000,12.500000,7.680000,27.740000,20.860000,4.000000,0.000000
75%,326.000000,39.000000,285.000000,17.000000,372.000000,521.000000,43.000000,16.500000,125.000000,16.270000,8.580000,38.250000,28.000000,13.000000,0.000000
max,6634.000000,838.000000,5266.000000,183.000000,4024.000000,4596.000000,221.000000,39.340000,400.000000,100.000000,36.000000,940000.000000,670000.000000,135.000000,39.000000

In [30]:
matches.describe()

                id  result_margin  target_runs  target_overs
count  1095.000000    1095.000000  1092.000000   1092.000000
mean    548.000000      16.959817   165.684066     19.759341
std     316.243577      21.714792    33.427048      1.581108
min       1.000000       0.000000    43.000000      5.000000
25%     274.500000       5.000000   146.000000     20.000000
50%     548.000000       8.000000   166.000000     20.000000
75%     821.500000      19.000000   187.000000     20.000000
max    1095.000000     146.000000   288.000000     20.000000

In [31]:
deliveries.describe()

,match_id,inning,over,ball,batsman_runs,extra_runs,total_runs,is_wicket
count,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000
mean,550.080454,1.483531,9.197677,3.624486,1.265001,0.067806,1.332807,0.049632
std,316.471716,0.502643,5.683484,1.814920,1.639298,0.343265,1.626416,0.217184
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,277.000000,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,551.000000,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000
75%,825.000000,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000
max,1095.000000,6.000000,19.000000,11.000000,6.000000,7.000000,7.000000,1.000000

In [32]:
dp = pd.read_csv('./data/player_data.csv')  # This dataset is better than players1.csv
dp

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,2024,Ruturaj Gaikwad,2,0,61,46,30.5,51,119.61,0,0,8,1,0,0,2,0,0,0,0,0,0,0,0,0
1,2023,Ruturaj Gaikwad,16,1,590,92,42.14,400,147.5,0,4,46,30,17,0,16,0,0,0,0,0,0,0,0,0
2,2022,Ruturaj Gaikwad,14,0,368,99,26.29,291,126.46,0,3,33,14,4,0,14,0,0,0,0,0,0,0,0,0
3,2021,Ruturaj Gaikwad,16,2,635,101*,45.35,466,136.26,1,4,64,23,6,0,16,0,0,0,0,0,0,0,0,0
4,2020,Ruturaj Gaikwad,6,2,204,72,51,169,120.71,0,3,16,6,4,0,6,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,2022,Mayank Markande,2,0,0,0,0,0,0,0,0,0,0,2,0,2,42,57,1,1/26,57.00,8.14,42.00,0,0
1168,2021,Mayank Markande,1,0,0,0,0.00,0,0.00,0,0,0,0,0,0,1,18,26,0,0/26,0,8.66,0,0,0
1169,2019,Mayank Markande,3,1,6,6,6.00,5,120.00,0,0,1,0,0,0,3,36,59,1,1/23,59.00,9.83,36.00,0,0
1170,2018,Mayank Markande,14,4,21,7*,10.50,24,87.50,0,0,2,0,3,0,14,264,368,15,4/23,24.53,8.36,17.60,1,0
1171,No stats,Jhathavedh Subramanyan,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats

In [33]:
dp.isna().sum()

Year                   0
Player_Name            0
Matches_Batted         0
Not_Outs               0
Runs_Scored            0
Highest_Score          0
Batting_Average        0
Balls_Faced            0
Batting_Strike_Rate    0
Centuries              0
Half_Centuries         0
Fours                  0
Sixes                  0
Catches_Taken          0
Stumpings              0
Matches_Bowled         0
Balls_Bowled           0
Runs_Conceded          0
Wickets_Taken          0
Best_Bowling_Match     0
Bowling_Average        0
Economy_Rate           0
Bowling_Strike_Rate    0
Four_Wicket_Hauls      0
Five_Wicket_Hauls      0
dtype: int64

In [34]:
# Converting 'no stats' to 0
dp = dp.replace('No stats', 0)

In [35]:
# Matches_Batted & Matches_Bowled are same -> lets drop one and change col name to matches
dp.drop('Matches_Bowled', axis=1, inplace=True)
dp.columns

Index(['Year', 'Player_Name', 'Matches_Batted', 'Not_Outs', 'Runs_Scored',
       'Highest_Score', 'Batting_Average', 'Balls_Faced',
       'Batting_Strike_Rate', 'Centuries', 'Half_Centuries', 'Fours', 'Sixes',
       'Catches_Taken', 'Stumpings', 'Balls_Bowled', 'Runs_Conceded',
       'Wickets_Taken', 'Best_Bowling_Match', 'Bowling_Average',
       'Economy_Rate', 'Bowling_Strike_Rate', 'Four_Wicket_Hauls',
       'Five_Wicket_Hauls'],
      dtype='object')

In [36]:
dp.columns = ['Year', 'Player_Name', 'Matches', 'Not_Outs', 'Runs_Scored',
       'Highest_Score', 'Batting_Average', 'Balls_Faced',
       'Batting_Strike_Rate', 'Centuries', 'Half_Centuries', 'Fours', 'Sixes',
       'Catches_Taken', 'Stumpings', 'Balls_Bowled', 'Runs_Conceded',
       'Wickets_Taken', 'Best_Bowling_Match', 'Bowling_Average',
       'Economy_Rate', 'Bowling_Strike_Rate', 'Four_Wicket_Hauls',
       'Five_Wicket_Hauls']

In [37]:
dp.Highest_Score

0         46
1         92
2         99
3       101*
4         72
        ...
1167       0
1168       0
1169       6
1170      7*
1171       0
Name: Highest_Score, Length: 1172, dtype: object

In [38]:
dp['Highest_Score'] = dp['Highest_Score'].astype(str)
dp.Highest_Score = dp.Highest_Score.str.replace(r'[*]', '', regex=True)

In [39]:
dp.Highest_Score # cleaned

0        46
1        92
2        99
3       101
4        72
       ...
1167      0
1168      0
1169      6
1170      7
1171      0
Name: Highest_Score, Length: 1172, dtype: object

In [40]:
dp.Best_Bowling_Match

0          0
1          0
2          0
3          0
4          0
        ...
1167    1/26
1168    0/26
1169    1/23
1170    4/23
1171       0
Name: Best_Bowling_Match, Length: 1172, dtype: object

In [41]:
dp['Best_Bowling_Match_2'] = dp['Best_Bowling_Match'].astype(str) + ['/0']
dp['Best_Bowling'] = dp['Best_Bowling_Match_2'].str.split('/')
dp.drop('Best_Bowling_Match_2', axis=1, inplace=True)
dp

,Year,Player_Name,Matches,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Best_Bowling
0,2024,Ruturaj Gaikwad,2,0,61,46,30.5,51,119.61,0,0,8,1,0,0,0,0,0,0,0,0,0,0,0,"[0, 0]"
1,2023,Ruturaj Gaikwad,16,1,590,92,42.14,400,147.5,0,4,46,30,17,0,0,0,0,0,0,0,0,0,0,"[0, 0]"
2,2022,Ruturaj Gaikwad,14,0,368,99,26.29,291,126.46,0,3,33,14,4,0,0,0,0,0,0,0,0,0,0,"[0, 0]"
3,2021,Ruturaj Gaikwad,16,2,635,101,45.35,466,136.26,1,4,64,23,6,0,0,0,0,0,0,0,0,0,0,"[0, 0]"
4,2020,Ruturaj Gaikwad,6,2,204,72,51,169,120.71,0,3,16,6,4,0,0,0,0,0,0,0,0,0,0,"[0, 0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,2022,Mayank Markande,2,0,0,0,0,0,0,0,0,0,0,2,0,42,57,1,1/26,57.00,8.14,42.00,0,0,"[1, 26, 0]"
1168,2021,Mayank Markande,1,0,0,0,0.00,0,0.00,0,0,0,0,0,0,18,26,0,0/26,0,8.66,0,0,0,"[0, 26, 0]"
1169,2019,Mayank Markande,3,1,6,6,6.00,5,120.00,0,0,1,0,0,0,36,59,1,1/23,59.00,9.83,36.00,0,0,"[1, 23, 0]"
1170,2018,Mayank Markande,14,4,21,7,10.50,24,87.50,0,0,2,0,3,0,264,368,15,4/23,24.53,8.36,17.60,1,0,"[4, 23, 0]"
1171,0,Jhathavedh Subramanyan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"[0, 0]"

In [42]:
# Split each list into sublists of length 2
dp['Best_Bowling'] = dp['Best_Bowling'].apply(lambda x: [x[i:i+2] for i in range(0, len(x), 2)])
grouped_lists = dp.groupby('Player_Name')['Best_Bowling'].apply(lambda x: sum(x, []))
grouped_lists = grouped_lists.reset_index()
grouped_lists

          Player_Name                                       Best_Bowling
0         Abdul Samad  [[0, 0], [0, 0], [0, 8], [0], [1, 9], [0], [1,...
1     Abhinav Manohar                                   [[0, 0], [0, 0]]
2     Abhishek Sharma  [[0, 0], [1, 26], [0], [0, 10], [0], [2, 4], [...
3        Abid Mushtaq                                           [[0, 0]]
4       Abishek Porel                                   [[0, 0], [0, 0]]
..                ...                                                ...
242        Yash Dhull                                           [[0, 0]]
243       Yash Thakur                       [[0, 43], [0], [4, 37], [0]]
244  Yashasvi Jaiswal      [[0, 0], [0, 0], [0, 6], [0], [0, 0], [0, 0]]
245     Yudhvir Singh                                     [[2, 19], [0]]
246  Yuzvendra Chahal  [[1, 25], [0], [4, 17], [0], [5, 40], [0], [3,...

[247 rows x 2 columns]

In [43]:
def clean_tuples(lst):
    new_lst = []
    for y in lst:
        try:
            # Ensure y is tuple/list of length 2
            if isinstance(y, (tuple, list)) and len(y) == 2:
                new_lst.append((int(y[0]), int(y[1])))
            else:
                # Fill missing elements with 0
                y0 = int(y[0]) if len(y) > 0 else 0
                y1 = int(y[1]) if len(y) > 1 else 0
                new_lst.append((y0, y1))
        except:
            # If y is not iterable at all, treat as (0,0)
            new_lst.append((0,0))
    return new_lst

grouped_lists['Best_Bowling'] = grouped_lists['Best_Bowling'].apply(clean_tuples)

In [44]:
grouped_lists['Best_Bowling'] = grouped_lists['Best_Bowling'].apply(
    lambda lst: sorted(lst, key=lambda y: (-int(y[0]), int(y[1])))[0]
)
grouped_lists

          Player_Name Best_Bowling
0         Abdul Samad       (1, 9)
1     Abhinav Manohar       (0, 0)
2     Abhishek Sharma       (2, 4)
3        Abid Mushtaq       (0, 0)
4       Abishek Porel       (0, 0)
..                ...          ...
242        Yash Dhull       (0, 0)
243       Yash Thakur      (4, 37)
244  Yashasvi Jaiswal       (0, 0)
245     Yudhvir Singh      (2, 19)
246  Yuzvendra Chahal      (5, 40)

[247 rows x 2 columns]

In [45]:
# Create new column as string with '/'
grouped_lists['Best_Bowling_Match'] = grouped_lists['Best_Bowling'].apply(lambda x: f"{x[0]}/{x[1]}")
grouped_lists

          Player_Name Best_Bowling Best_Bowling_Match
0         Abdul Samad       (1, 9)                1/9
1     Abhinav Manohar       (0, 0)                0/0
2     Abhishek Sharma       (2, 4)                2/4
3        Abid Mushtaq       (0, 0)                0/0
4       Abishek Porel       (0, 0)                0/0
..                ...          ...                ...
242        Yash Dhull       (0, 0)                0/0
243       Yash Thakur      (4, 37)               4/37
244  Yashasvi Jaiswal       (0, 0)                0/0
245     Yudhvir Singh      (2, 19)               2/19
246  Yuzvendra Chahal      (5, 40)               5/40

[247 rows x 3 columns]

In [46]:
dp.drop('Best_Bowling', axis=1, inplace=True)

In [47]:
# Custom function to convert to numeric, and leave non-numeric columns as is
def convert_to_numeric(col):
    try:
        # Attempt to convert the column to numeric
        return pd.to_numeric(col, errors='ignore')  # Non-numeric values will become NaN
    except ValueError:
        # If it fails (e.g., non-numeric column), return the column as is
        return col

# Apply the function to all columns
dp = dp.apply(convert_to_numeric)
dp.dtypes

/tmp/ipykernel_47650/2648636958.py:5: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  return pd.to_numeric(col, errors='ignore')  # Non-numeric values will become NaN

Year                     int64
Player_Name             object
Matches                  int64
Not_Outs                 int64
Runs_Scored              int64
Highest_Score            int64
Batting_Average        float64
Balls_Faced              int64
Batting_Strike_Rate    float64
Centuries                int64
Half_Centuries           int64
Fours                    int64
Sixes                    int64
Catches_Taken            int64
Stumpings                int64
Balls_Bowled             int64
Runs_Conceded            int64
Wickets_Taken            int64
Best_Bowling_Match      object
Bowling_Average        float64
Economy_Rate           float64
Bowling_Strike_Rate    float64
Four_Wicket_Hauls        int64
Five_Wicket_Hauls        int64
dtype: object

In [48]:
agg_col = ['Matches', 'Not_Outs', 'Runs_Scored', 'Balls_Faced', 'Centuries', 'Half_Centuries', 'Fours', 'Sixes',
       'Catches_Taken', 'Stumpings', 'Balls_Bowled',
       'Runs_Conceded', 'Wickets_Taken', 'Four_Wicket_Hauls', 'Five_Wicket_Hauls']

dp_sum = dp[['Player_Name'] + agg_col].groupby('Player_Name').sum()
dp_sum.reset_index(inplace=True)
dp_sum

,Player_Name,Matches,Not_Outs,Runs_Scored,Balls_Faced,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Balls_Bowled,Runs_Conceded,Wickets_Taken,Four_Wicket_Hauls,Five_Wicket_Hauls
0,Abdul Samad,35,8,410,298,0,0,23,26,18,0,54,113,2,0,0
1,Abhinav Manohar,17,1,222,158,0,0,20,10,8,0,0,0,0,0,0
2,Abhishek Sharma,48,6,925,669,0,4,96,33,11,0,228,338,9,0,0
3,Abid Mushtaq,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Abishek Porel,5,1,65,41,0,0,5,4,4,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,Yash Dhull,4,0,16,23,0,0,1,0,2,0,0,0,0,0,0
243,Yash Thakur,10,0,0,0,0,0,0,0,1,0,209,332,13,1,0
244,Yashasvi Jaiswal,38,1,1196,800,1,8,147,49,14,0,1,6,0,0,0
245,Yudhvir Singh,3,0,1,2,0,0,0,0,0,0,48,70,3,0,0
246,Yuzvendra Chahal,146,13,37,86,0,0,0,0,25,0,3191,4081,188,6,1

In [49]:
df_players = pd.concat([dp_sum, grouped_lists.drop('Player_Name', axis=1)], axis=1)
df_players

,Player_Name,Matches,Not_Outs,Runs_Scored,Balls_Faced,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Balls_Bowled,Runs_Conceded,Wickets_Taken,Four_Wicket_Hauls,Five_Wicket_Hauls,Best_Bowling,Best_Bowling_Match
0,Abdul Samad,35,8,410,298,0,0,23,26,18,0,54,113,2,0,0,"(1, 9)",1/9
1,Abhinav Manohar,17,1,222,158,0,0,20,10,8,0,0,0,0,0,0,"(0, 0)",0/0
2,Abhishek Sharma,48,6,925,669,0,4,96,33,11,0,228,338,9,0,0,"(2, 4)",2/4
3,Abid Mushtaq,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"(0, 0)",0/0
4,Abishek Porel,5,1,65,41,0,0,5,4,4,0,0,0,0,0,0,"(0, 0)",0/0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,Yash Dhull,4,0,16,23,0,0,1,0,2,0,0,0,0,0,0,"(0, 0)",0/0
243,Yash Thakur,10,0,0,0,0,0,0,0,1,0,209,332,13,1,0,"(4, 37)",4/37
244,Yashasvi Jaiswal,38,1,1196,800,1,8,147,49,14,0,1,6,0,0,0,"(0, 0)",0/0
245,Yudhvir Singh,3,0,1,2,0,0,0,0,0,0,48,70,3,0,0,"(2, 19)",2/19
246,Yuzvendra Chahal,146,13,37,86,0,0,0,0,25,0,3191,4081,188,6,1,"(5, 40)",5/40

In [50]:
# Float aggregate - avg
# agg_col = ['Batting_Average', 'Batting_Strike_Rate', 'Bowling_Average', 'Economy_Rate', 'Bowling_Strike_Rate']
df_players['Batting_Average'] = df_players['Runs_Scored']/(df_players['Matches'] - df_players['Not_Outs'])
df_players['Batting_Strike_Rate'] = df_players['Runs_Scored']/df_players['Balls_Faced'] * 100
df_players['Bowling_Average'] = df_players['Runs_Conceded']/df_players['Wickets_Taken']
df_players['Economy_Rate'] = df_players['Runs_Conceded']/(df_players['Balls_Bowled']/6)
df_players['Bowling_Strike_Rate'] = df_players['Balls_Bowled']/df_players['Wickets_Taken']
df_players.replace([np.nan, np.inf, -np.inf], 0, inplace=True)
df_players

,Player_Name,Matches,Not_Outs,Runs_Scored,Balls_Faced,Centuries,Half_Centuries,Fours,Sixes,Catches_Taken,Stumpings,Balls_Bowled,Runs_Conceded,Wickets_Taken,Four_Wicket_Hauls,Five_Wicket_Hauls,Best_Bowling,Best_Bowling_Match,Batting_Average,Batting_Strike_Rate,Bowling_Average,Economy_Rate,Bowling_Strike_Rate
0,Abdul Samad,35,8,410,298,0,0,23,26,18,0,54,113,2,0,0,"(1, 9)",1/9,15.185185,137.583893,56.500000,12.555556,27.000000
1,Abhinav Manohar,17,1,222,158,0,0,20,10,8,0,0,0,0,0,0,"(0, 0)",0/0,13.875000,140.506329,0.000000,0.000000,0.000000
2,Abhishek Sharma,48,6,925,669,0,4,96,33,11,0,228,338,9,0,0,"(2, 4)",2/4,22.023810,138.266069,37.555556,8.894737,25.333333
3,Abid Mushtaq,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"(0, 0)",0/0,0.000000,0.000000,0.000000,0.000000,0.000000
4,Abishek Porel,5,1,65,41,0,0,5,4,4,0,0,0,0,0,0,"(0, 0)",0/0,16.250000,158.536585,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,Yash Dhull,4,0,16,23,0,0,1,0,2,0,0,0,0,0,0,"(0, 0)",0/0,4.000000,69.565217,0.000000,0.000000,0.000000
243,Yash Thakur,10,0,0,0,0,0,0,0,1,0,209,332,13,1,0,"(4, 37)",4/37,0.000000,0.000000,25.538462,9.531100,16.076923
244,Yashasvi Jaiswal,38,1,1196,800,1,8,147,49,14,0,1,6,0,0,0,"(0, 0)",0/0,32.324324,149.500000,0.000000,36.000000,0.000000
245,Yudhvir Singh,3,0,1,2,0,0,0,0,0,0,48,70,3,0,0,"(2, 19)",2/19,0.333333,50.000000,23.333333,8.750000,16.000000
246,Yuzvendra Chahal,146,13,37,86,0,0,0,0,25,0,3191,4081,188,6,1,"(5, 40)",5/40,0.278195,43.023256,21.707447,7.673457,16.973404

In [51]:
players

,player,runs,boundaries,balls_faced,wickets,balls_bowled,runs_conceded,matches,batting_avg,batting_strike_rate,boundaries_percent,bowling_economy,bowling_avg,bowling_strike_rate,catches,stumpings
0,A Ashish Reddy,280,31,196,18.0,270.0,400.0,28,10.00,142.86,15.82,8.89,22.22,15.00,8.0,0.0
1,A Badoni,161,18,139,2.0,12.0,12.0,11,14.64,115.83,12.95,6.00,6.00,6.00,8.0,0.0
2,A Chandila,4,0,7,11.0,234.0,245.0,12,0.33,57.14,0.00,6.28,22.27,21.27,2.0,0.0
3,A Chopra,53,7,75,0.0,0.0,0.0,6,8.83,70.67,9.33,0.00,0.00,0.00,2.0,0.0
4,A Choudhary,25,2,20,5.0,108.0,144.0,5,5.00,125.00,10.00,8.00,28.80,21.60,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,Yash Dayal,0,0,1,11.0,205.0,296.0,9,0.00,0.00,0.00,8.66,26.91,18.64,1.0,0.0
601,Yashpal Singh,47,5,67,0.0,0.0,0.0,4,11.75,70.15,7.46,0.00,0.00,0.00,3.0,0.0
602,Younis Khan,3,0,7,0.0,0.0,0.0,1,3.00,42.86,0.00,0.00,0.00,0.00,1.0,0.0
603,Yuvraj Singh,2754,367,2207,36.0,882.0,1091.0,129,21.35,124.78,16.63,7.42,30.31,24.50,29.0,0.0
604,Z Khan,117,13,141,102.0,2276.0,2860.0,99,1.18,82.98,9.22,7.54,28.04,22.31,20.0,0.0

## df_players is better dataset than players as it has more info, but it doesn't contain innings which should be used while calculating batting average instead of matches. choosing df_players

In [ ]:
# Cleaned all the csv files & now saving it
df_players.to_csv('./data/players_clean.csv', index=False)
# players.to_csv('./data/players_clean.csv', index=False)
matches.to_csv('./data/matches_clean.csv', index=False)
deliveries.to_csv('./data/deliveries_clean.csv', index=False)